@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&display=swap');

/* Body Styles */
body {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Open Sans', sans-serif;
  transition: background-color 0.5s ease;
  background-color: rgb(232, 232, 224);
}

/* Container Styles */
.container {
  text-align: center;
  backdrop-filter: blur(10px);
  border-radius: 10px;
  padding: 20px;
  max-width: 500px;
}

.container > h1 {
  font-size: 32px;
  color: black;
  margin-bottom: 2px;
}

.container > h2 {
  font-size: 19px;
}

/* Input Container Styles */
.input-container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  padding: 10px;
  font-weight: bold;
}

input {
  border: none;
  background: none;
  font-size: 20px;
  outline: none;
  text-align: right;
}

/* Results Container Styles */
#stat-container {
  margin-top: 10px;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  padding: 10px 20px 20px;
  align-items: center;
  display: flex;
  flex-direction: column;
}

#stat-container > h2 {
  font-size: 22px;
}

.stat {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.stat > h3 {
  font-size: 19px;
  text-align: left;
}

ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

li {
  font-size: 18px;
}

/* Tutorial Container Styles */
.tutorial-container {
  margin-top: 20px;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  padding: 10px 20px 20px;
}

.tutorial-container p {
  text-align: justify;
}

/* Paragraph Styles */
p {
  font-size: 14px;
}

body {
  animation: fade 0.5s;
  transition-timing-function: ease;
}

@keyframes fade {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}



  #stat-container,
  .tutorial-container {
    padding: 10px;
    margin-top: 10px;
  }

  /* Adjust font sizes for smaller screens */
  .container > h1 {
    font-size: 28px;
  }

  .container > h2,
  .stat > h3,
  li {
    font-size: 16px;
  }

  .tutorial-container p {
    font-size: 15px;
  }
