@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&display=swap');

body {
  animation: fade 1s ease-in-out;
}

@keyframes fade {
  from { opacity: 0; transform: translateY(-10px); }
  to { opacity: 1; transform: translateY(0); }
}


/* Body Styles */
body {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Open Sans', sans-serif;
  background-color: #f5f5f5;
}

.input-container {
    position: sticky;
    top: 10px;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

/* Container Styles */
.container {
  text-align: center;
  backdrop-filter: blur(10px);
  border-radius: 10px;
  padding: 20px;
  max-width: 600px; /* Defina o máximo de largura para 600px */
  margin: 0 auto; /* Centraliza horizontalmente */
}

.container > h1 {
  font-size: 28px; /* Reduzido o tamanho da fonte para telas menores */
  color: black;
  margin-bottom: 2px;
  margin-top: 8px;
}

.container > h2 {
  font-size: 16px; /* Reduzido o tamanho da fonte para telas menores */
}

/* Input Container Styles */
.input-container {
  margin-top: 10px; /* Reduzido o espaçamento para telas menores */
  display: flex;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  padding: 10px;
  font-weight: bold;
  font-size: 13.5px;
}


.input-container input[value="0"] {
  color: transparent; /* Torna o texto invisível quando o valor for 0 */
}


input {
  border: none;
  background: none;
  font-size: 16px; /* Reduzido o tamanho da fonte para telas menores */
  outline: none;
  text-align: right;
  width: 50px; /* Definindo uma largura fixa para os inputs */
}

/* Results Container Styles */
.stat-container,.chart-container {
  margin-top: 10px;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  padding: 10px 20px 20px;
  align-items: center;
  display: flex;
  flex-direction: column;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#stat-container > h2 {
  font-size: 20px; /* Reduzido o tamanho da fonte para telas menores */
}

.stat {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 5px 0; /* Adicionado espaçamento vertical entre os stats */
  flex-wrap: wrap; /* Quebra para a próxima linha em telas menores */
}

.stat > h3 {
  font-size: 16px; /* Reduzido o tamanho da fonte para telas menores */
  text-align: left;
  flex: 1; /* Distribui espaço igualmente entre h3 e input */
  margin-right: 5px; /* Espaçamento à direita para os h3 */
}

ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

li {
  font-size: 16px; /* Reduzido o tamanho da fonte para telas menores */
}



.tutorial-container p {
  text-align: justify;
  font-size: 14px; /* Reduzido o tamanho da fonte para telas menores */
}

/* Paragraph Styles */
p {
  font-size: 14px;
}

.config-container {
  margin-top: 10px; /* Reduzido o espaçamento para telas menores */
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  padding: 10px 20px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}



/* Estilos personalizados */
.total-value,.tier-value {
  font-size: 14px;
  justify-content: center;
}


.tutorial-container li {
  font-size: 14px;
  text-align: justify;
}

#caption-container {
  margin-top: 10px;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  padding: 10px 20px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.tutorialtext {
  margin-top: 10px;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  padding: 10px 20px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 600px;

}

/* Media Query for PC-sized screens */
@media screen and (min-width: 768px) {

  body {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .statnumber {
    text-align: center;
  }

  .input-container,
  .tutorial-container {
    max-width: 600px;
    margin: 0 auto;
  }

  .tutorial-container  {
    max-width: 1080px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: start;
  }

.tutorialtext {
  margin: 30px;
  margin-top: 10px;
  max-width: 625px;
}

#caption-container {
  width: 1000px;
}






  .statwide {
    margin: 25px auto;
  }

  #stat_display {
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
  }

.container {
    max-width: 2000px;
    margin: 0 auto;
}

.statwide {
  margin: 25px;
  margin-top: 10px;
}
  .stat-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; /* Vertically center the entire .stat-container */
    margin-top: 10px; /* Add margin to separate containers */
    width: 600px;
  }

  .stat {
    width: calc(40% - 10px);
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  /* Keep the rank display fixed at the top */
  #rankdisplay {
    position: sticky;
    top: 0;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
  }

  .input-container {
    background-color: #f5f5f500;
    box-shadow: none;
    display: block;
    backdrop-filter: blur(0px);
  }


  /* Center the h2 element within .stat-container */
  .stat-container h2 {
    text-align: center;
    width: 100%;
  }

  #chartRadar canvas {
    width: 200px;
  }

}

/* Additional styles for smaller screens */
.stat-container {
  text-align: center; /* Center-align for smaller screens */
  margin-top: 10px; /* Add margin to separate containers */
}

.stat {
  width: 100%; /* Full width for smaller screens */
}

























.toggleDarkMode {
  display: flex;
  align-items: center;
}

.toggleDarkMode li {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.toggleDarkMode label {
  margin-right: 5px;
}

.toggleDarkMode .switch {
  cursor: pointer;
  width: 40px;
  /* 20% do tamanho normal (200px) */
  height: 20px;
  /* 20% do tamanho normal (100px) */
  background: grey;
  display: block;
  border-radius: 10px;
  /* Metade da altura para manter a proporção */
  position: relative;
}

.toggleDarkMode .switch:after {
  content: '';
  position: absolute;
  top: 1px;
  /* 20% do tamanho normal (10px) */
  left: 1px;
  /* 20% do tamanho normal (10px) */
  width: 18px;
  /* 20% do tamanho normal (80px) */
  height: 18px;
  /* 20% do tamanho normal (80px) */
  background: #fff;
  border-radius: 50%;
  /* Metade do tamanho para manter a proporção */
  transition: 0.3s;
}

.toggleDarkMode input:checked+.switch {
  background: #5584da;
}

.toggleDarkMode input:checked+.switch:after {
  left: calc(100% - 1px);
  /* 20% do tamanho normal (10px) */
  transform: translateX(-100%);
}

.toggleDarkMode .switch:active:after {
  width: 19px;
  /* 20% do tamanho normal (130px) */
  height: 19px;
  /* 20% do tamanho normal (130px) */
}


.config-container {
  visibility: hidden;
}

/* Modo Escuro */
.darkmode, .darkmode body {
  background-color: #121212;
  color: #d3d2d2;
}

.darkmode input,
.darkmode input::placeholder {
  color: #d3d2d2;
}

.darkmode .input-container,
.darkmode .tutorial-container,
.darkmode .config-container,
.darkmode .stat-container,
.darkmode .chart-container, .darkmode #rankdisplay {
  background-color: rgba(0, 0, 0, 0.5);
}

.darkmode .input-container input,
.darkmode .tutorial-container p,
.darkmode .config-container li,
.darkmode .stat-container h3,
.darkmode .chart-container {
  color: #d3d2d2;
}

.darkmode .toggleDarkMode label {
  color: #d3d2d2; /* Altere a cor do texto do label */
}

.darkmode .toggleDarkMode .switch {
  background: #d3d2d2;
}

.darkmode .toggleDarkMode .switch:after {
  background: #121212;
}

.darkmode .toggleDarkMode input:checked + .switch {
  background: #121212;
}

.darkmode .toggleDarkMode input:checked + .switch:after {
  background: #d3d2d2;
}

/* Ajuste a cor do título */
.darkmode .container > h1 {
  color: #d3d2d2;
}

/* Ajuste a cor do subtítulo */
.darkmode .container > h2 {
  color: #d3d2d2;
}